.card-wrapper {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-areas:
        'cover title'
        'cover tags';
    gap: 16px;
    padding: 12px;
    text-align: left;
    background-color: rgba(255, 255, 255, 10%);
    border: 1px solid transparent;
    transition: 0.25s linear;
}

.card-wrapper:hover {
    border-color: #5800FF;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0%);
}

.card-image {
    background-size: cover;
    height: 0;
    padding-bottom: 150px;
    width: 150px;
    grid-area: cover;
    outline: 1px solid white;
}

.playlist-title {
    grid-area: title;
    color: #FFFFFF;
    font-weight: normal;
}

.tag-list {
    grid-area: tags;
    list-style: none;
    display: flex;
    padding: 0;
}

.tag-item {
    margin-right: 12px;
    color: #E900FF;
    font-weight: bold;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tag-item::before {
    content: '#';
}